@import 'styles/colors';

.freeButton,
.freeButtonActive {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 49px;
  height: 33px;
  padding: 5px 9px 3px 9px;

  border-radius: 5px;

  color: $text-title;

  cursor: pointer;

  font-family: Segoe UI;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;

  border: transparent;
  background-color: $white;
}
// active button style
.freeButtonActive {
  border: transparent;
  background-color: $light-gray-accent;
}
