@import 'styles/shared';

.sectionCard {
  position: relative;

  padding-top: 17px;
  padding-left: 38px;
  padding-right: 34px;
  padding-bottom: 9px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hotelContainer {
  position: relative;
}

.iconHotel {
  position: absolute;
  top: -24px;
  left: 98px;

  display: flex;
}

.status {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: $bold;
  font-size: 10px;
  line-height: 1.3;
  color: $white;
}

.title {
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.36;

  color: $text-title;

  &Piece {
    font-weight: $Medium;
  }
}

.hotelName {
  font-size: 23px;
  line-height: 1.35;
  font-weight: $regular;

  color: $text-title;
}

.main {
  display: flex;
  // align-items: flex-end;

  padding: 0;
  margin: 0;
}

.imageList {
  margin: 0;
  padding: 0;
}

.imageItem {
  width: 100px;
  height: 100px;
  border-radius: 5px;

  &:first-child {
    margin-bottom: 14px;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.serveBar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.footerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // &:nth-child(1) {
  //   justify-content: space-between;
  // }
}

.arrow {
  margin-right: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 80px;
  min-width: 100px;
  padding: 3px 3px 5px 7px;

  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.31;

  background: $indigo;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $indigo-accent;
  }

  // &:not(:last-child) {
  //   margin-bottom: 5px;
  // }
}

.price {
  font-weight: $Medium;
  font-size: 11px;
  line-height: 1.36;

  // margin-right: 0;
  color: $text-accent;
}

.areaApartment {
  // margin-right: 78px;
  font-weight: $Medium;
  font-size: 11px;
  line-height: 1.36;
}
