@import 'styles/shared';

.title {
  padding: 10px;
  margin: 0;
}

.popup {
  position: absolute;

  left: 45%;
  bottom: 35px;
  transform: translateX(-50%);

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 208px;
  height: 69px;
  background: #000;
  background: url('../../images/bg_popup@1x.png');
  background-size: 208px 65px;
  background-position: center;
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    & {
      background: url('../../images/bg_popup@2x.png');
    }
  }
}

// .popupInner .close-btn {
//   top: 16px;
//   right: 16px;
// }
