@import 'styles/shared';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 120px;
}

.link,
.activeLink {
  position: absolute;
  left: 0;
  bottom: -30px;

  border: 1px solid $light-gray-accent;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  padding: 8px;

  width: 33px;
  height: 33px;
}

.activeLink {
  background-color: $light-gray-accent;
}

.title {
  margin-bottom: 9px;
  font-weight: $Medium;
  font-size: 12px;
  line-height: 1.33;

  color: $text-title;
}

.desc {
  width: 309px;
  margin-right: 30px;
  margin-bottom: 8px;

  font-weight: $small-regular;
  font-size: 11px;
  line-height: 1.36;

  color: $dark-gray;
}
