.videoContainer {
  position: relative;
  display: block;

  overflow: hidden;

  width: 100px;
  height: 100px;

  border: 1px solid tomato;
}

.videoFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220%;
  height: 100%;
}
